
#banner {
	z-index:20;
	position:absolute;
	background-image: url("../images/acrs-logo.png");
	background-repeat:no-repeat;
	background-position:left top;
	left:200px;
	width:70%;
	height:180px;
	top:5px;
}

h1.logo {
	display:none;
	}
	

#content-wrapper { 	
	position: relative;
	left:10px;
 }

#add-page {
	display:none;	
} 
 

.lfr-grid .lfr-column {
float:left;
padding-left:0px;
padding-right:0px;		
}	
		

#column-1,#column-3 {

	width:12%;
	background-image:url("../images/common/coralbackgr_strip.png");
	background-repeat:no-repeat;
	background-position:center top;
	height:1000px;

	}


	
#column-2 {
	background-image:url("../images/home_background2.jpg");
	background-repeat:no-repeat;
	width:74%;
	height:1000px;


	}

	
	
/* ---------- Main navigation ---------- */
	
#navigation {
	
	background-color:#dae238;
	position: absolute;
	left:10px;
	top: 180px;
	z-index:1;
	width:98%

	
	}

#navigation ul {
    min-height: 2ex;
    width: 70%;
    padding-left:5em;
	padding-right:5em;
}

#add-page {
	margin-left:auto;
	margin-right:auto;
	}

#navigation li {
    display: inline;
    padding: 0;
    margin: 0 2em 0 0;
}

#navigation a {
    color: #2e3192;
    text-transform: uppercase;
    font-size: 11pt;
    padding: 3px 8px;
}

#navigation li a {
    display: block;
    text-decoration: none;
}

#navigation li a span {
    text-decoration: none;
}

#navigation li.selected a, #navigation li a:hover, #navigation .child-menu li a {
    background-color: #e4ea6c;
}

#navigation li:hover .child-menu {
    background: #dae238;
    display: block;
    position: absolute;
    width: 130px;
    z-index: 300;
}

.ie6 #navigation li.hover .child-menu {
    background: #dae238;
    display: block;
    position: absolute;
    width: 130px;
    z-index: 300;
}

#navigation .child-menu li {
    /*border-bottom: 1px dotted #ffffff;*/
    display: block;
    float: none;
    margin: 0;
    z-index:400;
}

#navigation .child-menu li a {
    cursor: pointer !important;
    padding: 1px 8px;
    text-transform: capitalize;
    font-size: 1.1em;
}

.ie7 #navigation .child-menu li a {
    zoom: 1;
}

#navigation .child-menu li a:hover {
    background-color: #dae238;
}
	


/*-----------------------------------*/


.columns-max	{
	position:relative;
	z-index:30;
	background-color:#ffffff;
}

.columns-max #column-1 {
	width:70%;
	background-image: none;
}

#portlet-wrapper-terms-of-use #portlet-wrapper-password-reminder {
		position:relative;
	z-index:30;
	background-color:#ffffff;
}
