
form {
  margin: 0;
  padding: 0;
  font-size: 100%;
  min-width: 560px;
  max-width: 620px;
  width: 590px;
  color: #2e3192;
  font-size:1.1em;
}

legend {
	color: #2e3192;
	font-size: 1.3em;
}	

form fieldset {
  clear: both;
  font-size: 100%;
  border-color: #2e3192;
  border-width: 1px 0 1px 0;
  border-style: solid none none none;
  padding: 10px;
  margin: 0 0 0 0;
}

form div {
  clear: left;
  display: block;
  width: 400px;
  zoom: 1;
  margin: 5px 0 0 0;
  padding: 1px 3px;
}

form div fieldset {
  clear: none;
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
  margin: 0 0 0 144px;
  padding: 0 5px 5px 5px;
  width: 197px;
}

form div label {
  display: block;
  float: left;
  width: 130px;
  padding-left:5px;
  padding-top:5px;
  padding-right:5px;
  margin: 0 0 5px 0;
  text-align: right;
}

label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }


form div select, form div textarea, form div input {
  width: 250px;
  padding: 1px 3px;
  margin: 0 0 0 0;
}

form div input.inputCheckbox, form div input.radioCheckbox{
	width: 20px;
	padding-left: 5px;
}

form div.notes p, form div small {
  line-height: 125%;
}

form div.wide small {
  margin: 0 0 5px 0;
}

table#memberListTable {
	background-color:#ffffff;
	border-collapse:separate;
	border-spacing:1px;
	clear:both;
}

table#memberListTable td {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 3px;
	background-color: #D4F2EA;
	font-size:1.2em;
	color:#000000;
}

table#memberListTable table td {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #D4F2EA;
	font-size:0.9em;
	color:#000000;
}

table#memberListTable th {
	background-color:#E6E6E6;
	font-weight:bold;
	text-align:center;
}



#applicantDetailsTable {
	background-color:#ffffff;
	border-collapse:separate;
	border-spacing:1px;
	clear:both;
	margin-left:10px;
}

.applLabel {
	background-color:#E6E6E6;
	font-weight:bold;
	text-align:right;
	font-size:1.0em;
	padding-right:10px;
	padding-left:10px;
}

.applData {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right:10px;
	padding-left:10px;
	background-color: #D4F2EA;
	font-size:1.2em;
	color:#000000;

}
